/* default */
*,
:before,
:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	color: $default;
	font-weight: 400;
	font-size: $font-size-3;
	font-family: $font-family-base;
	line-height: normal;
	background-color: #DCE0E5;

	// 영역 밖으로 넘치는 단어 개행
	word-wrap: break-word;

	// 글자 단위 개행
	word-break: keep-all;
}

header,
section,
article,
aside,
footer,
nav {
	display: block;
}

fieldset {
	display: block;
	margin: 0;
	border: 0;
	padding: 0;
}

pre {
	white-space: pre-wrap;
}

img {
	max-width: 100%;
	border: 0;
}

ul,
li,
ol {
	list-style: none;
	// 엣지 리스트 버그 해결
	// list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

dl,
ol,
ul {
	margin-bottom: 0;
}

ul,
ol {
	padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
dd {
	margin: 0;
}

strong {
	font-weight: 600;
}

p {
	margin: 0;
}

a,
select,
button,
input,
textarea {
	font-family: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

button,
input[type=submit] {
	margin: 0;
	padding: 0;
	border: 0;
	color: inherit;
	cursor: pointer;
	background: transparent;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.blind {
	position: absolute;
	display: block;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}

caption.blind {
	position: static;
	width: auto;
	height: 0;
}

*::-webkit-scrollbar {
	width: max(0.260417vw, 5px);
	height: max(0.260417vw, 5px);

	&-button {
		width: 0;
		height: 0;
	}

	&-track {
		background: transparent;
	}

	&-thumb {
		border-radius: max(0.3125vw, 6px);
		background-color: #A8B3BD;
	}
}