#v_shortcut {
	flex: 0 0 auto;
	padding: 9rem 2rem 0 0;

	>.v_inner {
		width: 11.4rem;
		padding: 1rem 1rem 3rem;
		border-radius: 2rem;
		box-shadow: $shadow;
		background-color: $white;
	}

	.shortcut_tit {
		padding: .4rem 0 1.4rem;
		border-bottom: 1px solid $border-color;
		color: $black;
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 1.5rem;

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 4.3rem;
			text-align: center;
		}
	}

	.shortcut_list {
		li {
			margin-top: 3rem;

			a {
				display: flex;
				align-items: center;
				flex-direction: column;
				gap: .5rem;
				padding: 0 .5rem;
				font-weight: 500;
				line-height: 1.4rem;
				text-align: center;
			}

			&.on {
				a {
					color: #26A5F3;
					text-shadow: 0 0 .02rem #26A5F3;
				}

				.ico_shortcut1 {
					background-image: url(#{$url-img-common}/ico_shortcut1_on.png);
				}

				.ico_shortcut2 {
					background-image: url(#{$url-img-common}/ico_shortcut2_on.png);
				}

				.ico_shortcut3 {
					background-image: url(#{$url-img-common}/ico_shortcut3_on.png);
				}
			}
		}
	}
}