/* 박스 */

.v_box {
	padding: 3rem;
	border: 1px solid $border-color;
	border-radius: 2rem;

	&.bg_primary {
		padding: 2rem;
		border-color: #D2EEFF;
		border-radius: 1rem;
		background-color: #F5FBFF;
	}
}

.box_info {
	padding: 2rem;
	border: 2px dotted $border-color;
	border-radius: 1rem;
}