/* 불릿 시스템 */

// 타이틀
.v_tit1 {
	margin-bottom: $size-20;
	color: $black;
	font-weight: 600;
	font-size: $font-size-5;
}

.v_tit2 {
	margin-bottom: $size-10;
	color: $black;
	font-weight: 600;
	font-size: $font-size-4;
}