/* 불릿 시스템 */

// 타이틀
.v_tit1 {
	position: relative;
	margin: 3rem 0;
	padding-left: 24px;
	color: #181A1B;
	font-weight: 600;
	font-size: 2rem;
	line-height: 2.4rem;

	&:before {
		content: '';
		position: absolute;
		top: .5rem;
		left: 0;
		width: 1.4rem;
		height: 1.4rem;
		border: .4rem solid $primary;
		border-radius: 50%;
	}
}

.v_tit2 {
	margin: 28px 0 21px;
	font-size: $font-size-lg;
	font-weight: 700;
}

p.v_list1 {
	position: relative;
	padding-left: 12px;
	color: $gray;
	line-height: 1.5;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 10px;
		left: 0;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: $gray;
	}
}

.v_list1 {

	>li {
		position: relative;
		padding-left: 12px;
		color: $gray;
		line-height: 1.5;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 10px;
			left: 0;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: $gray;
		}

		a,
		button {
			line-height: initial;
		}

		+li {
			margin-top: 10px;
		}
	}
}