/* 간격 */

.mt_1 {
	margin-top: $size-5 !important;
}

.mt_2 {
	margin-top: $size-10 !important;
}

.mt_4 {
	margin-top: $size-20 !important;
}

.mt_6 {
	margin-top: $size-30 !important;
}

.mt_8 {
	margin-top: $size-40 !important;
}

.mt_10 {
	margin-top: $size-50 !important;
}

.mr_2 {
	margin-right: $size-10 !important;
}

.mr_4 {
	margin-right: $size-20 !important;
}

.ml_2 {
	margin-left: $size-10 !important;
}

.ml_4 {
	margin-left: $size-20 !important;
}

.mb_1 {
	margin-bottom: $size-5 !important;
}

.mb_2 {
	margin-bottom: $size-10 !important;
}

.mb_4 {
	margin-bottom: $size-20 !important;
}

.mb_6 {
	margin-bottom: $size-30 !important;
}

.mb_8 {
	margin-bottom: $size-40 !important;
}

.mb_10 {
	margin-bottom: $size-50 !important;
}